@using Microsoft.AspNet.Identity
@if (Session["Usuario"]!=null)
{
    using (Html.BeginForm("LogOff", "Usuarios", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + Session["Usuario"] + "!", "", "", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Iniciar sesión", "Login", "Usuarios", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Recuperar Contraseña", "recuperarpws", "usuarios", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        
    </ul>
}
